body{
    background-image: url("https://img.freepik.com/vector-gratis/fondo-abstracto-negro-azul_1340-17010.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}